node_modules/
.env
.next/
dist/
build/
.DS_Store
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python Virtual Environments
.venv/
venv/
env/
**/.venv/
**/venv/
**/env/

# Python Packages
*.egg-info/
**/*.egg-info/